/*****************************************************
 Andrés Ángel González Granda - uo68216@uniovi.es 
  Estructura de la página.
******************************************************/

/*Especificidad: 001*/
header{
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    gap: 3vw;
}
/*Especificidad: 002*/
header h1{
    flex:25
}

/*Especificidad: 002*/
header nav{
    flex:75;
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content:space-evenly;
    align-content:space-around;
    gap: 2vw 1.5vw;
}

/* Cuando el ancho de la pantalla es inferior a 660px organizamos
h1 y nav en columna en vez de en filas*/
@media (max-width: 660px) {
    /*Especificidad: 001*/
    header{
        flex-flow: column wrap;
        gap: 1vw 0.5vw;
    }
    /*Especificidad: 002*/
    header nav{
        font-size: calc(0.9em + 1.2vw);
    }
    /*Especificidad: 001*/
    h1{
        text-align: center;
    }
}


/* Cuando el ancho de la pantalla es inferior a 400px organizamos
los enlaces de nav en columnas en lugar de en filas */
@media (max-width: 400px) {
    /*Especificidad: 001*/
    header{
        flex-flow: column wrap;
    }
    /*Especificidad: 002*/
    header nav{
        flex-flow: column nowrap;
        font-size: calc(1.3em + 0.6vw);
    }
    /*Especificidad: 001*/
    h1{
        font-size: calc(1.4em + 0.6vw);
        text-align: center;
    }  
}